body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2F3136;
}

.loader {
  height: 32px;
  width: 32px;
  position: relative;
}

.loader span {
  height: 10px;
  width: 10px;
  background-color: #677BC4;
  display: inline-block;
  animation: animate 1.8s ease-in-out infinite;
  animation-delay: calc(var(--i) * -0.9s);
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes animate {
  25% {
    transform: translate3d(22px, 0, 0) scale(0.5) rotate(-90deg);
  }
  50% {
    transform: translate3d(22px, 22px, 0) rotate(-180deg);
  }
  75% {
    transform: translate3d(0px, 22px, 0) scale(0.5) rotate(90deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0)  rotate(0deg);
  }
}

